.category {
    @extend %clearfix;
    text-align: left;
    margin: 1em auto;
    font-size: .938em;
    ul {
        @include li-reset;
        li {
            margin: 0px 3px 3px 0px;
            display: block;
            float: left;
        }
    }
    a {
        @include gradient(#FFF, #DDD, vertical);
        border: 1px solid #CCC;
        padding: .4em 1em;
        display: block;
        color: #333;
        font-weight: bold;
        @include box-sizing();
        border-radius:20px;
        &:hover,
        &:focus {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
            border: 1px solid darken($primaryColor, 15);
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($primaryColor, 0), darken($primaryColor, 15), vertical);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }
    .t1{
        float: left;
        line-height: 2.5em;
    }
}

//category2
.category2 {
    @extend %clearfix;
    margin: 1em auto;
    overflow: hidden;
    ul {
        @include li-reset;
        li {
            margin: 0;
            @include make-xs-column(6);
            @include make-sm-column(4);
            @include make-md-column(3);
            @include make-lg-column(3);
        }
    }
    a {
        @include gradient(#FFF, #DDD, vertical);
        border: 1px solid #CCC;
        padding: .5em 1em;
        margin: .1em;
        display: block;
        color: #333;
        font-size: 1.125em;
        font-weight: bold;
        @include box-sizing();
        @include text-overflow;
        border-radius:5px;
        text-align: center;
        &:hover,
        &:focus {
            color: #FFF;
            @include gradient(darken($secondaryColor, 0), darken($secondaryColor, 15), vertical);
            border: 1px solid darken($secondaryColor, 15);
            box-shadow: none;
        }
        &.active {
            color: #FFF;
            @include gradient(darken($secondaryColor, 0), darken($secondaryColor, 15), vertical);
        }
        span {
            font-size: .813em;
            &:before {
                content: "(";
                display: inline-block;
            }
            &:after {
                content: ")";
                display: inline-block;
            }
        }
    }


}