@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
.sp{
	h3.title{
		font-size: 1.25em;
		position: relative;
		background: #f7f8f9;
		border-radius: 5px;
		padding: .3em 0 .3em 1.8em;
		line-height: 1.5em;
		&:before{
			content:"";
			width:5px;
			height: 12px;
			position: absolute;
			left:.8em;
			top:.75em;
			background: #e34079;
		}
		span{
			font-size: .938em;
			color:$secondaryColor;
			margin: 0 .2em;
		}
	}
}
.loginbtn{
	clear:both;
	ul{
		@include li-reset;
		text-align: right;
		margin: 1em;
		li{
			display: inline-block;
		}
		.fb-btn{
			margin-right: 1%;
			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 30px 15px 60px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;

				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#3c5a9a url('../images/fb-btn.png')no-repeat center center;
					background-size: 20px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}
		.g-btn{
			margin-left: 1%;

			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 30px 15px 60px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;


				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#fff url('../images/g-btn.png')no-repeat center center;
					background-size: 40px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}

		.y-btn{
			margin-left: 1%;

			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 30px 15px 60px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;


				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#6001d1 url('../images/y-btn.png')no-repeat center center;
					background-size: 20px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}
	}
}
//loginbtn2
.loginbtn2{
	clear:both;
	.t1{
		float: left;
		line-height: 3em;
		margin-right: .5em;
	}
	ul{
		@include li-reset;
		text-align: left;
		margin: 1em;
		li{
			display: inline-block;
		}
		.fb-btn{
			// margin-right: 1%;
			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 20px 15px 55px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;

				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#3c5a9a url('../images/fb-btn.png')no-repeat center center;
					background-size: 20px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}
		.g-btn{
			margin-left: 1%;

			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 20px 15px 55px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;


				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#fff url('../images/g-btn.png')no-repeat center center;
					background-size: 40px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}

		.y-btn{
			margin-left: 1%;

			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 20px 15px 55px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;


				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#6001d1 url('../images/y-btn.png')no-repeat center center;
					background-size: 20px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}

		.my-btn{
			margin-left: 1%;

			a{
				background: #fff;
				color:#1c1c1c;
				font-size: 1.15em;
				position: relative;
				padding: 15px 20px 15px 55px;
				display: block;
				box-shadow: 0 0 5px 1px #ccc;
				border-radius: 30px;


				&:hover, &:focus{
					background: darken(#fff, 8);
					box-shadow: 0 2px 5px 1px #999;
				}
				&:before{
					content:"";
					width:34px;
					height:34px;
					position: absolute;
					top:.5em;
					left:.8em;
					background:#d3d3d3 url('../images/mydata.png')no-repeat center center;
					background-size: 30px auto;
					border-radius: 20px;
				}
			}
			@include screen('mobile') {
				width: 100%;
				margin: 0 0 1em 0;  
			}
		}
	}
}
.search-fun{
	margin: 2em 0 3em;
	clear: both;
	ul{
		@include li-reset;
		text-align: center;
		overflow: hidden;
		li{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(4);
			@include make-lg-column(4);
			@include gutter();
			margin-bottom: 2em;
			a{
				display: block;
				@include aspect-ratio(5, 3);
				position: relative;
				color:#fff;
				font-weight: bold;
				font-size: 1.25em;
				line-height: 1.6em;
				border-radius: 20px;
				span{
					display: block;
				}

			}
			.overlay {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, .6);
				overflow: hidden;
				width: 100%;
				height: 5.5em;
				transition: .5s ease;
				padding-top: 20px;

				&:before{
					content:"";
					position: absolute;
					left:0;
					top:0;
					bottom:0;
					width: 3em;
					color:#fff;
					font-weight: bold;
					background: rgba(225, 65, 117, .8) url('../images/icon_search2.png')no-repeat center center;
					background-size: 1.5em auto;
					padding-top: 0em;
					font-size: .813em;
				}
			}
			&:hover .overlay, &:focus .overlay {
				height: 100%;
				padding-top: 25%;

			}

		}
		.bg1{
			background: url('../images/pic_b03.jpg')no-repeat center center;
			background-size: cover;		
		}
		.bg2{
			background: url('../images/pic_b05.jpg')no-repeat center center;
			background-size: cover;
		}
		.bg3{
			background: url('../images/pic_b04.jpg')no-repeat center center;
			background-size: cover;
		}
		.bg4{
			background: url('../images/pic_b10.jpg')no-repeat center center;
			background-size: cover;
		}

	}
}
.lp-search{
	border:none;
	margin: .5em 0;
	font-size: 1em;
	.form_grp{
		border:none;
	}
	.form_title{
		width: auto;
		padding: 1em 0 0 0;
		line-height: 1em;
	}
	.btn-submit{
		margin: -.3em .1em 0!important;
	}
	h3{
		font-size: 1.25em;
		position: relative;
		background: #f7f8f9;
		border-radius: 5px;
		padding: .3em 0 .3em 1.8em;
		line-height: 1.5em;
		&:before{
			content:"";
			width:5px;
			height: 12px;
			position: absolute;
			left:.8em;
			top:.75em;
			background: #e34079;
		}
	}
}
.selbox{
	position: relative;
	select{
		width:70%;
	}
	button{
		float: right;
		margin: -.1em .1em 0!important;
	}
}
.aCenter{
	text-align: center;
}
.aLeft{
	text-align: left;
}
.aRight{
	text-align: right;
}
.check{
	background: #666;
	color:#fff;
	font-weight: bold;
	font-size: .875em;
	padding: .2em 1em;
	min-width: 8em;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	a{
		display: block;
		background: #666;
		color:#fff;
		&:hover, &:focus{
			color:#fafc2a;
		}
	}
}
.check-ok{
	background: #0f9f3b;
	color:#fff;
	font-weight: bold;
	font-size: .875em;
	padding: .2em 1em;
	min-width: 8em;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	a{
		display: block;
		background: #0f9f3b;
		color:#fff;
		&:hover, &:focus{
			color:#fafc2a;
		}
	}
}
.check-no{
	background: #e34079;
	color:#fff;
	font-weight: bold;
	font-size: .875em;
	padding: .2em 1em;
	min-width: 8em;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	a{
		display: block;
		background: #e34079;
		color:#fff;
		&:hover, &:focus{
			color:#fafc2a;
		}
	}
}
.del-btn{
	padding: .3em 1em;
	font-size: .875em;
	background: $primaryColor;
	color:#fff;
	font-weight: bold;
	border: none; 
	&:hover, &:focus{
		background: darken($primaryColor, 8);
		border: none!important;
		color:#fff;
	}
}
.remark{
	padding: .5em 0;
	color:#d01050;
	font-size: .938em;
}
.remark2{
	padding: .5em 1em;
	color:#d01050;
	font-size: 1em;
	background: #fee7ef;
	border-radius: 5px;
}


.notice2{
	height: 15em;
	overflow: auto;
	background: #f1f2f4;
	padding: .5em 2em;
	position: relative;
	margin: .5em 0;
	line-height: 2em;
	font-size: 1em;
}

.chlist{
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		text-indent: -2em;
		margin: 0 0 0 2em;
		padding: 0;
	}
}


// timebox
.timebox {
	.col {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(4);
		@include make-lg-column(4);
		@include gutter();
		padding-bottom: 2em;
	}
	.col:nth-child(2n) {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(8);
		@include make-lg-column(8);
		@include gutter();
		padding-bottom: 2em;
	}
	.datatb{
		table{
			td{
				text-align: center;
				background: #fff;
			}
			caption{
				text-align:left;
				font-size: 1em;
			}

		}
		.scroltable{
			width: 100%!important;
		}
	}
}

// timebox
.timebox2 {
	background: #f1f2f4;
	position: relative;
	overflow: hidden;
	border-left: solid 5px #96d4e1;
	.col {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(8);
		@include make-lg-column(8);
		@include gutter();
	}
	.col:nth-child(2n) {
		@include make-xs-column(12);
		@include make-sm-column(6);
		@include make-md-column(4);
		@include make-lg-column(4);
		@include gutter();
	}
	ul{
		@include li-reset;
		margin: 1em;
		@include screen('mobile') {
			margin: 1em 1em 0;
		}
	}
	.btn_grp{
		padding: .5em 1em;
		text-align: right;
		margin-top: 1.2em;
		@include screen('mobile') {
			text-align: center;
			margin-top: 0;
		}
	}
}
//datatb2
.datatb2{
	border: solid 1px #f1f2f4;
	box-shadow: 0 0 8px #ccc;
	padding: 1em 1em .5em;
	background: #fff;
	margin: 1.5em 0;
	clear: both;
	p{
		margin: .5em 1em;
		font-size: .938em;
	}
	.col4{
		label{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(3);
			@include make-lg-column(3);
			margin: .2em 0!important;
			input{
				display: inline-block;
			}
		}
	}
	.form_content{
		.upload_grp{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(8);
			@include make-lg-column(8);		
		}
		.fun_grp{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(4);
			@include make-lg-column(4);
			// text-align: center;
			padding-left: .5em;
		}
	}
	.btn_grp{
		padding: .5em 0;
	}
}
.icon-del{
	background:$color-purple url('../images/icon-del.png')no-repeat center center;
	background-size: 20px auto;
	width:40px;
	height:36px;
	font-size: 0;
	border-radius: 5px;
	border:solid 1px $color-purple;
	&:hover, &:focus{
		background: darken($color-purple, 8) url('../images/icon-del.png')no-repeat center center;
		background-size: 20px auto;
		border: none!important;
	}
}
.icon-view{
	background:$primaryColor url('../images/icon_search2.png')no-repeat center center;
	background-size: 20px auto;
	width:40px;
	height:36px;
	font-size: 0;
	border-radius: 5px;
	border:solid 1px $primaryColor;
	&:hover, &:focus{
		background: lighten($primaryColor, 8) url('../images/icon_search2.png')no-repeat center center;
		background-size: 20px auto;
		border: none!important;
	}
}
.icon-add{
	background:$color-purple url('../images/icon-add.png')no-repeat center center;
	background-size: 20px auto;
	width:40px;
	height:36px;
	font-size: 0;
	border-radius: 5px;
	border:solid 1px $color-purple;
	&:hover, &:focus{
		background: darken($color-purple, 8) url('../images/icon-add.png')no-repeat center center;
		background-size: 20px auto;
		border: none!important;
	}
}
.add_grp{
	clear:both;
	padding-bottom: .3em;
}
.icon-del2{
	background:$color-purple url('../images/icon-del.png')no-repeat 5px center;
	background-size: 20px auto;
	height:36px;
	font-size: 1em;
	border-radius: 5px;
	border:solid 1px $color-purple;
	padding-left: 2em;
	line-height: 1em;
	&:hover, &:focus{
		background: darken($color-purple, 8) url('../images/icon-del.png')no-repeat 5px center;
		background-size: 20px auto;
		border:solid 1px $color-purple!important;
	}
}
.icon-add2{
	background:$primaryColor url('../images/icon-add.png')no-repeat 5px center;
	background-size: 18px auto;
	height:36px;
	font-size: 1em;
	border-radius: 5px;
	border:solid 1px $primaryColor;
	padding-left: 2em;
	line-height: 1em;


	&:hover, &:focus{
		background: lighten($primaryColor, 8) url('../images/icon-add.png')no-repeat 5px center;
		background-size: 18px auto;
		border:solid 1px $primaryColor!important;
	}
}
.icon-add3{
	background:$primaryColor url('../images/icon-add2.png')no-repeat center center;
	background-size: 10px auto;
	width:20px;
	height:20px;
	font-size: 0;
	border-radius: 50%;
	border:solid 1px $primaryColor;
	margin: 0 8px;
	&:hover, &:focus{
		background: darken($primaryColor, 8) url('../images/icon-add2.png')no-repeat center center;
		background-size: 10px auto;
		border: none!important;
	}
}
.icon-cut3{
	background:$color-purple url('../images/icon-cut.png')no-repeat center center;
	background-size: 10px auto;
	width:20px;
	height:20px;
	font-size: 0;
	border-radius: 50%;
	border:solid 1px $color-purple;
	margin: 0 8px;
	&:hover, &:focus{
		background: darken($color-purple, 8) url('../images/icon-cut.png')no-repeat center center;
		background-size: 10px auto;
		border: none!important;
	}
}

.btn-apply{
	background:$primaryColor;
	background-size: 36px auto;
	font-size: 1.125em;
	border-radius: 5px;
	border:solid 1px $primaryColor;
	padding: .8em 2em .8em 2.5em;
	color:#fff;
	font-weight: bold;
	line-height: 1.2em;
	min-width: 14em;
	position: relative;
	&:before{
		content: "";
		position: absolute;
		top:.3em;
		left:2.5em;
		background: url('../images/icon-apply.png')no-repeat left center;
		background-size: 36px auto;
		width:40px;
		height: 40px;
	}
	&:hover, &:focus{
		background: lighten($primaryColor, 8);
		color:#fff;
		border:solid 1px $primaryColor!important;
	}
}
.vthtb{
	th{
		text-align: right;
	}

}

.price{
	text-align: right;
}
.total{
	font-weight: bold;
	color:$importantColor;
	text-align: right;
}

.completion{
	font-size: 1.25em;
	line-height: 2em;
	text-align: center;
	color:$primaryColor;
	background: #f1f2f4;
	border-radius: 5px;
	padding: .5em;
	@include screen("mobile") {
		text-align: left;
		font-size: 1.125em;
		line-height: 1.5em;
		padding: .5em 1em;
	}
}

.btn-renew{
	position: relative;
	padding: .5em 1em .5em 2.5em;
	&:before{
		content: "";
		position: absolute;
		top:.5em;
		left:1em;
		width: 20px;
		height: 20px;
		background: url('../images/icon-renew.png')no-repeat center center;
		background-size: 16px auto;
	}
}
.btn-voice{
	position: relative;
	padding: .5em 1em .5em 2.5em;
	&:before{
		content: "";
		position: absolute;
		top:.5em;
		left:1em;
		width: 20px;
		height: 20px;
		background: url('../images/icon-voice.png')no-repeat center center;
		background-size: 16px auto;
	}
}

//共用
.privacy{
	border-radius: 12px;
	box-shadow: 0 0 8px 1px #ccc;
	background: #fff;
	padding: 1em;
	margin-bottom: 2em;
	h3{
		font-size: 1.25em;
		line-height: 1.6em;
		text-align: center;
		color:$primaryColor;
		padding: .5em;
		margin: .5em 0;
		@include screen("mobile") {
			text-align: left;
			font-size: 1.125em;
			line-height: 1.5em;
			padding: .5em 0;
		}
	}
}

.recactivity{
	margin: 1em 0;
	text-align: center;
	h3{
		font-size: 1.5em;
		padding: .5em 2em;
		border-bottom: solid 1px #333;
		display: inline-block;
		margin: 0 auto .5em;
	}
	h4{
		font-size: 1.25em;
		margin: 1em 0 .5em;
	}
	.album {
		margin: 0 auto;
		overflow: hidden;
		ul {
			@include li-reset;
			li {
				@include make_col(4, 1);
				overflow: visible;
				.thumbnail {
					width: 100%;
					max-width: 100%;
					margin: 0 auto;
					box-shadow: 0 0 8px 1px #ccc;
					padding-bottom: 1em;
				}
				@include screen('tablet') {
					@include make_col(3, 1);
				}
			}
		}
		.img-container{
			@include aspect-ratio(4, 2.5); 
		}

	}
	.more{
		text-align: center;
		a{
			background: #e34079;
			color:#fff;
			font-weight: bold;
			margin: 0 auto;
			width: 75%;
			padding: .5em;
			border: none;
			border-radius: 0;
			&:hover, &:focus{
				background: darken(#e34079, 8);
				border: none!important;
			}
		}
	}
	.thumbnail{
		.caption{
			padding-bottom: 0;
			text-align: left;
			p{
				height: 3em;
				overflow: hidden;
			}
		}
		a{
			display: block;
			@include text-overflow;
		}
	}

}

.chlist2{
	list-style: none;
	margin: 0;
	padding: 0;
	&>li{
		text-indent: -2em;
		margin: 0 0 0 2em;
		padding: 0;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				text-indent: 0;
				margin: 0;
			}		
		}

	}
	ol{
		li{
			text-indent: 0;
			margin: 0;
		}
	}

}

.flow{
	margin: 2em 0;
	clear: both;
	ul{
		list-style: none;
		margin: 0!important;
		padding: 0!important;
		text-align: center;

		li{
			display: inline-block;
			color:$primaryColor;
			position: relative;
			margin: 0!important;
			padding: 0!important;
			vertical-align: top;

			p{
				margin: 0 1em 0 1em;
				font-size: 1.125em;
				font-weight: bold;
				width: 8em;

				@include screen('tablet') {
					font-size: 1em;
					width: 4em;

				}
				@include screen('mobile') {
					margin: 0 .5em 0 .5em;
					width: 4em;
				}
				@include screen('xs_mobile') {
					font-size: .875em;
					margin: 0 .2em 0 .2em;
				}
			}
			>div{
				position: relative;
				padding-top: 60px;
				clear:both;
				&:before{
					content: '';
					width:100%;
					height: 3px;
					background: $primaryColor;
					position: absolute;
					top:24px;
					left:50%;
					z-index: 0;
				}
				&:after{
					content: '';
					width:45px;
					height: 45px;
					position: absolute;
					top:0;
					left:50%;
					margin-left: -26px;
					background: #fff;
					border-radius: 25px;
					border: solid 3px $primaryColor;
					z-index: 1;
					color:$primaryColor;
					font-size: 1.8em;
					font-family: 'Jost', sans-serif;
					line-height: 1.6em;


				}

			}
			&:last-child{
				div{
					&:before{
						width:0;
					}
				}
			}

		}
		.step1{
			&:after{
				content:"1";
			}
		}
		.step2{
			&:after{
				content:"2";
			}
		}
		.step3{
			&:after{
				content:"3";
			}
		}
		.step4{
			&:after{
				content:"4";
			}
		}
		.step5{
			// &:before{
			// 	width:0;
			// }
			&:after{
				content:"5";
			}
		}
		.here{
			.step1{
				&:after{
					background: $primaryColor;
					border:solid 3px $primaryColor;
					color:#fff;
				}
				p{color:$primaryColor;font-weight: bold;}
			}
			.step2{
				&:after{
					background: $primaryColor;
					border:solid 3px $primaryColor;
					color:#fff;
				}
				p{color:$primaryColor;font-weight: bold;}

			}
			.step3{
				&:after{
					background: $primaryColor;
					border:solid 3px $primaryColor;
					color:#fff;
				}
				p{color:$primaryColor;font-weight: bold;}

			}
			.step4{
				&:after{
					background: $primaryColor;
					border:solid 3px $primaryColor;
					color:#fff;
				}
				p{color:$primaryColor;font-weight: bold;}

			}
			.step5{
				&:before{
					width:0;
				}
				&:after{
					background: $primaryColor;
					border:solid 3px $primaryColor;
					color:#fff;
				}
				p{color:$primaryColor;font-weight: bold;}

			}
		}
	}


}


.np2{
	ul{
		@include li-reset;
		width: 70%;
		margin: 1em auto 3em;
		overflow: hidden;
		@include screen('tablet') {
			width: 90%;
		}
		@include screen('mobile') {
			width: 100%;
		}
		li{
			@include make-xs-column(12);
			@include make-sm-column(6);
			@include make-md-column(6);
			@include make-lg-column(6);
			@include gutter();
			margin-bottom: 1em;
			a{
				height:12em;
				display: block;
				font-weight: bold;
				font-size: 1.8em;
				line-height: 1.5em;
				padding: 1.5em 1em 1em;
				border: none;
				text-shadow: 0px 0px 5px RGBA(0, 0, 0, 0.6);
				color:#fff;
				border-radius: 20px;
				border: solid 3px #fff;
				transition: .5s ease;

				&:hover{
					border: solid 3px #96d4e1;
				}

			}
			&.hakka a{
				background: url('../images/pic_d01.jpg')no-repeat left top;
				background-size: cover;
			}
			&.liudui a{
				background: url('../images/pic_d02.jpg')no-repeat left top;
				background-size: cover;
			}
			&.camp1 a{
				background: url('../images/pic_d03.jpg')no-repeat center top;
				background-size: cover;
			}
			&.camp2 a{
				background: url('../images/pic_d04.jpg')no-repeat center top;
				background-size: cover;
			}
		}
	}

	.topimg{
		overflow: hidden;
		position: relative;
		@include aspect-ratio(16, 3);
		margin-bottom: 2em;
		img{
			width: 100%;
			height: auto;
		}
	}
}
.group{
	background: #eff9fb;
	margin-bottom: 1em;
	padding: .5em 0;
	border-radius: 5px;
}

//onlist
.onlist {
	margin: 1em auto;
	h3{
		margin: 0 0 .5em;
	}
	ul {
		@include li-reset;
		li {
			position: relative;
			box-shadow: 0 0 8px 1px #ccc;
			background: #fff;
			overflow: hidden;
			padding: 1.5em 1em 1.5em;
			border-radius: 8px;
			margin-bottom: 1em;
			a{
				display: block;
			}
			&:hover{
				background: #fefef0;
			}
		}
	}
	.pic{
		@include make-xs-column(12);
		@include make-sm-column(4);
		@include make-md-column(4);
		@include make-lg-column(3);     
		@include gutter();
		@include screen('mobile') {
			margin: .5em 0;
		}
		img{
			width:100%;
		}
	}
	.infodata{
		@include make-xs-column(12);
		@include make-sm-column(8);
		@include make-md-column(8);
		@include make-lg-column(9);     
		@include gutter();
	}
	dl{
		margin: 0;
		padding: 0;
		dt{
			float:left;
			background: $secondaryColor;
			border-radius: 20px;
			color:#fff;
			font-weight: bold;
			padding: .5em 1em .45em 2.2em;
			margin-right: .5em;
			position: relative;
			clear: left;
			margin:0 .5em 0 0;
			font-size: .938em;
			@include screen('mobile') {
				float:none;	
			}
		}
		dd{
			min-height: 3em;
			max-height: 3.5em;
			overflow: hidden;
			display: block;
			padding: .5em 0;
			vertical-align: middle;
			margin: 0;
			@include screen('mobile') {
				min-height: auto;
				max-height: 7.8em;
			}
		}
	}
	.actplace{
		&:before{
			content:"";
			background: url('../images/icon-place.png')no-repeat center center;
			background-size: 18px auto;
			width: 18px;
			height: 18px;
			position: absolute;
			left:10px;
			top:10px;
		}
	}
	.acttime{
		&:before{
			content:"";
			background: url('../images/icon-time.png')no-repeat center center;
			background-size: 18px auto;
			width: 18px;
			height: 18px;
			position: absolute;
			left:10px;
			top:10px;
		}
	}
	.actint{
		&:before{
			content:"";
			background: url('../images/icon-int.png')no-repeat center center;
			background-size: 18px auto;
			width: 18px;
			height: 18px;
			position: absolute;
			left:10px;
			top:10px;
		}
	}
	.status1{
		position: absolute;
		top:1em;
		right:0;
		background: $primaryColor;
		color:#fff;
		font-weight: bold;
		padding: .3em 1em .3em 1.5em;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
	.status2{
		position: absolute;
		top:1em;
		right:0;
		background: $secondaryColor;
		color:#fff;
		font-weight: bold;
		padding: .3em 1em .3em 1.5em;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
}
.red{
	color:$color-red;
}
// .datepick{
// 	input[type="date" i] {
// 		padding-right: 2em;
// 	}
// }
.signup-btn1{
	padding: .3em 1em;
	font-size: 1em;
	background: $secondaryColor;
	color:#fff;
	font-weight: bold;
	border: none;
	min-width: 6em;
	&:hover, &:focus{
		background: darken($secondaryColor, 8);
		border: none!important;
		color:#fff;
	}
}
.signup-btn2{
	padding: .3em 1em;
	font-size: .938em;
	background: #666;
	color:#fff;
	font-weight: bold;
	border: none; 
	min-width: 6em;

	&:hover, &:focus{
		background: darken(#666, 8);
		border: none!important;
		color:#fff;
	}
}

.vthtb2{
	width:100%;border: solid 1px #ccc;border-collapse:collapse;margin-bottom: 2em;
	th{border: solid 1px #ccc;padding: 8px;background: #120561;color:#fff;text-align: right;}
	td{border: solid 1px #ccc;padding: 8px;}
	table{
		margin: 0;
		th{
			background: #cbedf4;
			color:#333;
			padding: 3px;
			text-align: center;
		}
		td{
			padding: 3px;
		}
	}
}

.costtb{
	border: solid 1px #ddd;
	background: #fff;
	caption{
		text-align:left;
		font-size: .938em;
	}
	th{
		border-left: none;
		border-right: none;
	}
	td{
		border-left: none;
		border-right: none;
	}
	.symbol{
		font-size: 1.125em;
		font-weight: bold;
		display: inline-block;
	}
	.num{
		font-size: 1.125em;
		font-weight: bold;
		display: inline-block;
		color:$primaryColor;
	}
	.num2{
		font-size: 1.25em;
		font-weight: bold;
		display: inline-block;
		color:$secondaryColor;
	}
	.total2{
		font-size: 1.125em;
		color:$secondaryColor;
	}
}
// remark3
.remark3 {
	background: #f7f8f9;
	position: relative;
	overflow: hidden;
	border-left: solid 5px #96d4e1;
	font-size: .875em;
	padding: 1em;
	margin: 1em 0;
	h4{
		margin: 0 0 .5em;
		color:$secondaryColor;
		font-size: 1.125em;
	}
}
//vthtb3
.vthtb3{
	background: #fff;
	th{
		width: 20%;
		text-align: right;
		white-space:normal;
	}
	.pay1{
		font-weight: bold;
		color:$color-red;
	}
	.pay2{
		font-weight: bold;
		color:$color-green;
	}
}

//payment
.payment{
	position: relative;
	background: #fff;
	border: solid 1px #ddd;
	padding: 2em;
	.rectb{
		background: #fff;
		width: 100%;
		caption{
			text-align: left;
			font-weight: bold;
			font-size: 1.125em;
			padding: .5em 0;
			.num{
				color:$color-red;
				display: inline-block;
				font-size: 1.125em;
			}
		}
		th{
			width: 15%;
			text-align: right;
		}
		td{

		}
	}
	.logo{
		position: absolute;
		left:30px;
		top:30px;
		img{
			width:180px;
			margin-right: 2em;
		}
		@include screen('mobile') {
			position: static;
			margin-bottom: .5em;
		}
	}
	h3{
		font-size: 1.35em;
		color:$primaryColor;
		text-align: center;
		margin: 0 0 1em;
	}
	.items{
		width: 49%;
		display: inline-block;
		font-size: .938em;
	}
}
//right-btn
.right-btn{
	margin-top: -3em;
	float:right;
}
.right-btn2{
	margin: -1em 0 1em;
	float:right;
}